@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body,.search{
    height: 100%;
    width: 100%;
  /* border: 1px solid black; */
  background: linear-gradient(to top, #f2f6fb, #b3cae3);
}

.search
{
	background-color: transparent;
	padding-left: 30%;
}