<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Products Page</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- JQuery -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="../css/Site.css">
<link rel="stylesheet" href="../css/productDetail.css">


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<div class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 logo">
					<img src="../images/Logo copy.png" alt="logo">
				</div>
				<div class="col-sm-6 searchbar">
					<div class="container">
						<div class="row" style="margin-top: 3%">
							<div class="col-sm-2">
								<div class="dropdown" style="margin-left: 21%">
									<button class="btn btn-primary dropdown-toggle" type="button"
										data-toggle="dropdown">
										Dropdown Example <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search"
										name="srch-term" id="srch-term">
									<div class="input-group-btn">
										<button class="btn btn-default" type="submit">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 userBar">
					<div class="container" style="margin-top: 3%">
						<div class="row">
							<div class="col-sm-2 link">
								<a href="#" style="margin-left: 80%">Projects</a>
							</div>
							<div class="col-sm-2">
								<img src="../images/Logo copy.png" alt="userPic">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="navCategory">
			<ul>
				<li><a href="#">Category</a></li>
				<li>&gt;</li>
				<li><a href="#">SubCategory</a></li>
				<li>&gt;</li>
				<li style="color: grey">Compare</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-sm-2 productIMG">
			  <img src="../images/Logo.png" alt="test">
			</div>
			<div class="col-sm-8 productTitle">
				<p>MANUFACTURER / SERIES / Model</p>
			</div>
		</div>

		<nav class="navbar" data-spy="affix"
			data-offset-top="197">

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="nav-item active">
						<a href="#summary" class="nav-link" disabled>Product Summary</a>
					</li>
					<li class="nav-item">
						<a href="#details" class="nav-link">Product Details</a>
					</li>
					<li class="nav-item">
						<a href="#documentation" class="nav-link">Product Documentation</a>
					</li>
					<li class="nav-item">
						<a href="#contacts" class="nav-link">Contacts</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="tab-content">
			<div id="summary" class="container-fluid">
				<h3>Product Summary</h3>
				<div class="row">
					<div class="col-md-6">
						<table class="table" style="width: 100%;">
							<thead>
								<tr>
									<th colspan="2">DESCRIPTION</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Manufacturer</td>
									<td>test</td>
								</tr>
								<tr>
									<td>Series</td>
									<td>test</td>
								</tr>
								<tr>
									<td>Model</td>
									<td>test</td>
								</tr>
							</tbody>

						</table>

						<table class="table" style="width: 100%;">
							<thead>
								<tr>
									<th colspan="2">TYPE</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td >Use Type</td>
									<td>test</td>
								</tr>
								<tr>
									<td >Application</td>
									<td>test</td>
								</tr>
								<tr>
									<td >Mounting Location</td>
									<td>test</td>
								</tr>
								<tr>
									<td >Accessories</td>
									<td>test</td>
								</tr>
								<tr>
									<td >Model Year</td>
									<td>test</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table" style="width: 100%;">
							<thead>
								<tr>
									<th colspan="2">TECHNICAL SPECIFICATIONS</th>
								</tr>
							</thead>
							<tr>
								<td>Airflow (CFM)</td>
								<td colspan="4">test</td>
							</tr>
							<tr>
								<td >Power (W)</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
							</tr>
							<tr>
								<td >Operating Voltage (VAC)</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
							</tr>
							<tr>
								<td >Fan Speed (RPM)</td>
								<td colspan="4">test</td>
							</tr>
							<tr>
								<td >Number of Fan Speeds</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
							</tr>
							<tr>
								<td >Sound at Max Speed (dBA)</td>
								<td colspan="4">test</td>
							</tr>
							<tr>
								<td >Fan Sweep Diameter (in)</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
							</tr>
							<tr>
								<td >Height (in)</td>
								<td colspan="4">test</td>
							</tr>
							<tr>
								<td >Weight (lbs)</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
								<td style="background-color: #f1f2f1">test</td>
								<td>test</td>
							</tr>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div id="details" class="container-fluid">
				<h3>Product Details</h3>
				<table class="table" style="width: 100%;">
					<thead>
						<tr>
							<th colspan="2">SERIES INFORMATION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td >Airfoils -</td>
						</tr>
						<tr>
							<td style="background: white;">Airfoil Finishes -</td>
						</tr>
						<tr>
							<td >Hardware Finishes -</td>
						</tr>
						<tr>
							<td style="background: white;">Motor -</td>
						</tr>
						<tr>
							<td >Exceeds ENERGY STAR fan
								efficiency requirements by up to</td>
						</tr>
						<tr>
							<td style="background: white;">Controls -</td>
						</tr>
						<tr>
							<td >Onboard Sensors -</td>
						</tr>
						<tr>
							<td style="background: white;">Environment -</td>
						</tr>
						<tr>
							<td >Accessories -</td>
						</tr>
						<tr>
							<td style="background: white;">Made in - USA</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="documentation" class="container-fluid">
				<h3>Product Documentation</h3>
				Product Warranty.Doc<br> <br> Product Manual.Pdf<br>
				<br> User Guide.Pdf <br> <br> The End...<br>
			</div>

			<div id="contacts" class="container-fluid">
				<h3>Contacts</h3>
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<tr>
								<td colspan="2">SALES REPRESENTATIVE</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Name</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Phone</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Email</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Web</td>
							</tr>
						</table>
					</div>

					<div class="col-md-6">
						<table class="table">
							<tr>
								<td colspan="2">MANUFACTURER</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Department</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Phone</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Email</td>
							</tr>
							<tr>
								<td style="background: lightgray;">Web</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
